/build/
/build_cards/
/dep/
*.dylib
*.dSYM/
/res/cards/
*.o
*.d
flash_*.bin
Makefile.cards.orig
.DS_Store
card_debug.log
test.log
check_size
test_card_runner
tmp_monome_rack/
*.zip
**/*.zip
*.uf2
**/*.uf2
**/trash/
**/backups/
**/node_modules/


